body{
    overflow-y:scroll;
}
@media only screen and (max-width:960px){
    body{
        overflow-y:scroll;
    }
}

.bg { 
  position: fixed; 
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;

}

.header, 
.footer {
  background-color: #ddd;
 
}

.header {
  top: 0;
  position: fixed;
  z-index: 6; 
  min-height: 20vh;

}

.container {
  position: relative;
  min-height: 55vh;
  opacity: 0.95;
  filter: alpha(opacity= 0.95);
  padding-top: 22vh;
  background-color: #eee;
  overflow: auto;
  margin-bottom: 5vh;
  
}

.footer {
  position: absolute;
  z-index: 6;
  min-height: 15vh;
  
  
}

.concerts_this_month {
    
  float: right;
}



.avatar_comment {
  height: 5vh;
  border: 1px solid #bbb;
  border-radius: 15px; 
}
  

.detailBox {
    width:60vw;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}


.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}