<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Welcome to the Concert Network!</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div>This is the header of the concert network</div>
  </header>
    <%= yield %>
  <footer>  
    <div>This is the footer of the concert network</div>
  </footer>
  
</body>
</html>